<div class="section center-align">
  <!-- DISCLAIMER -->
  <!-- This code is super hacky and ugly,
       and I really wish that we find something
       prettier and more sophisticated. -->
  <img [class.selected]="openhpi"
       (click)="openhpi = !openhpi"
       src="../assets/logos/open_hpi_logo.png" />
  <img [class.selected]="opensap"
       (click)="opensap = !opensap"
       src="../assets/logos/openSAP_Logo_neg.png" />
  <img [class.selected]="moochouse"
       (click)="moochouse = !moochouse"
       src="../assets/logos/mooc_house_logo_neg_srgb_300.png" />
  <img [class.selected]="openwho"
       (click)="openwho = !openwho"
       src="../assets/logos/who_logo_white.png"  />
</div>
