<div materialize="carousel" [materializeParams]="[{noWrap: true}]" class="carousel">
	<div *ngFor="let course of courses" class="carousel-item">
		<div class="card white">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="{{course.imageUrl}}">
			</div>
			<div class="card-content">
				<span class="card-title amber-text activator">{{course.title}}<a class="btn btn-floating amber pulse right"><i class="material-icons">info_outline</i></a></span>
				<span class="authors amber-text text-darken-3">{{course.authors}}</span>
				<p class="truncate">{{course.description}}</p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{course.title}}<i class="material-icons right">close</i></span>
				<p class="flow-text">{{course.description}}</p>
			</div>
		</div>
	</div>
</div>