.card {
	margin: 0;
}

h2 {
	display: block;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	color: black;
}

.card .card-image {
	height: 233px;
	display: block;
	vertical-align: middle;
	overflow: hidden;
}
.card .card-content .card-title {
	margin-bottom: 0px;
    font-size: 24px;
    line-height: 29px;
    color:black;
}
.card .card-content .card-title .btn {
	line-height: 32px;
}
.card .card-content .card-title .btn .material-icons{
	line-height: 40px;
	font-size: 36px;
}
.card .card-content p {
	margin-top: 6px;
	color: #696969;
}

.card .card-content {
	padding-top: 10px;
}

.card .card-reveal span {

}
.authors {
	font-size: 17px;
	height: 30px;
}

.activator {
	cursor: pointer;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

span#pl-indicator {
	  z-index: 1000;
    position: absolute;
    right: 10px;
    top: 10px;
}
