.card {
	margin: 0;
}
.card .card-image {
	height: 380px;
	display: block;
	vertical-align: middle;
	overflow: hidden;
}
.card .card-content .card-title {
	margin-bottom: 0px;
    font-size: 36px;
    line-height: 45px;
    color:black;
}
.card .card-content .card-title .btn {
	line-height: 32px;
}
.card .card-content .card-title .btn .material-icons{
	line-height: 40px;
	font-size: 36px;
}
.card .card-content p {
	margin-top: 6px;
}
.card .card-reveal span {
	font-weight: bold;
}
.authors {
	font-size: 24px;
}

.activator {
	cursor: pointer;
}