<div class="card white">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="{{_course.attributes.image_url}}">
	</div>
	<div class="card-content">
		<span class="card-title activator truncate">{{_course.attributes.title}}</span>
		<span class="authors amber-text text-darken-3">{{_course.attributes.teachers}}</span>
		<p class="truncate">{{_course.attributes.abstract}}</p>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4" style="font-size: 36px; line-height: 45px;">{{_course.attributes.title}}<i class="material-icons right">close</i></span>
		<span class="authors amber-text text-darken-3">{{_course.attributes.teachers}}</span>
		<br />
		<qr-code [value]="qrCodeUrl" [size]="390" [padding]="30"></qr-code>
		<a class="card-panel">Scan and try!</a>

	</div>
</div>
