<div class="card white">
	<div class="card-image waves-effect waves-block waves-light">
		<span>
			<span id="pl-indicator"
				  class="new badge"
				  data-badge-caption=""
				 [ngStyle]= "{'background-color': _primaryColor}">openHPI</span>
			<img class="activator" src="{{_course.attributes.image_url}}">
		</span>
	</div>
	<div class="card-content">
		<span class="card-title activator truncate">{{_course.attributes.title}}</span>
		<span class="authors activator truncate" [ngStyle]= "{'color': _primaryColor}">{{_course.attributes.teachers}}</span>
		<p class="truncate activator">{{_course.attributes.abstract}}</p>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4" style="font-size: 22px">
			<i class="material-icons right activator">close</i>
			{{_course.attributes.title}}
		</span>
		
		<span class="authors activator" [ngStyle]= "{'color': _primaryColor}">{{_course.attributes.teachers}}</span>
		<br />
		<qr-code [value]="qrCodeUrl" [size]="250" [padding]="20"></qr-code>
	</div>
</div>
