<!--<div *ngIf="dataService.isUpdating()" class="overlay">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer" style="border-color: #67DE91">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>-->
<app-filter></app-filter>

<world-map></world-map>

  <div class="section">
    <app-promo-numbers></app-promo-numbers>
  </div>
<div class="container">
  <div class="section">
    <!--<app-key-features></app-key-features>-->
	<app-citation></app-citation>
  </div>
  <div class="section">
    <app-courses></app-courses>
  </div>
  <div class="section">
    <app-reviews></app-reviews>
  </div>
</div>
