@import "~nouislider/distribute/nouislider.min.css";

ngui-map {
  display: block;
  height: 400px;
}

input{
	border: none;
}

.range-field {
    width: 1400px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;}

.noUI {
    width: 90%;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 50px;
}