<h2>What our MOOCs offer</h2>

<div>
	<app-feature-card title="Massive" imageUrl="/assets/many-people.svg" description="Learn with thousands of other interested people"></app-feature-card>
	<app-feature-card title="Open" imageUrl="/assets/open-door.svg" description="Everyone can participate"></app-feature-card>
	<app-feature-card title="Online" imageUrl="/assets/online.svg" description="Learn everywhere"></app-feature-card>
	<app-feature-card title="Courses" imageUrl="/assets/online-course.svg" description="Lots of diverse interesting topics"></app-feature-card>
</div>
