<h2>What our MOOCs offer</h2>


<table>
<tr>
	<td>
		<img src="/assets/many-people.svg" height="100" width="100"/>
	</td>
	<td>
		<h3>Massive</h3>
		Learn with thousands of other interested people 
	</td>
	<td>
		<img src="/assets/many-people.svg" height="100" width="100"/>
	</td>
	<td>
		<h3>Open</h3>
		Everyone can participate
	</td>
</tr>
<tr>
	<td>
		<img src="/assets/many-people.svg" height="100" width="100"/>
	</td>
	<td>
		<h3>Online</h3>
		Learn everywhere
	</td>
	<td>
		<img src="/assets/many-people.svg" height="100" width="100"/>
	</td>
	<td>
		<h3>Courses</h3>
		Lots of diverse interesting topics 
	</td>
</tr>
</table>
