<div materialize="carousel" [materializeParams]="[{fullWidth: true, noWrap: true}]" class="carousel carousel-slider" data-indicators="true">
	<div class="carousel-item grey lighten-3">
		<div class="row">
			<div class="col s6">
				<div class="card-panel transparent z-depth-0">
					<div class="bubble">
						120 Schüler waren beim openHPI-Programmierkurs auch in ihrer Freizeit mit viel Engagement und großem Interesse bei der Sache.
					</div>
					<div class="bubble-arrow">
					</div>
					<div class="row valign-wrapper">
						<div class="col s2">
							<img src="../assets/testimonials/square_dominik.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s10">
							<span class="black-text">Dominik Hausner, Informatik-Lehrer</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card-panel transparent z-depth-0">
					<div class="bubble">
						Prof. Meinel begeisterte mich für das Thema Web-Technologien.
					</div>
					<div class="bubble-arrow">
					</div>
					<div class="row valign-wrapper">
						<div class="col s2">
							<img src="../assets/testimonials/square_elisabeth.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s10">
							<span class="black-text">Elisabeth Jass (Jahrgang 1934), openHPI Nutzerin</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="card-panel transparent z-depth-0">
					<div class="bubble">
						Hello. I'm a random guy.
						This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub. This is a very long text. Bla bli blub di blub.
					</div>
					<div class="bubble-arrow">
					</div>
					<div class="row valign-wrapper">
						<div class="col s2">
							<img src="https://static.tildacdn.com/tild6231-3138-4531-b132-313863343037/28m.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s10">
							<span class="black-text">I'm PROud being at the HPI :)</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card-panel transparent z-depth-0">
					<div class="bubble">
						openHPI offers a variety of interesting courses. Video indexation or collaboration spaces make it easier to follow and learn.
					</div>
					<div class="bubble-arrow">
					</div>
					<div class="row valign-wrapper">
						<div class="col s2">
							<img src="../assets/testimonials/square_oriol.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s10">
							<span class="black-text">Oriol Borras Gene, Ph.D. Student - Technical University of Madrid</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
