<a #prev [ngClass]="{'disabled': isFirst()}" [ngStyle]="{'background': 'url(' + leftArrowUrl + ') top left no-repeat'}" class="arrow_prev" (click)="previousReview()"></a>
<a #next [ngClass]="{'disabled': isLast()}" [ngStyle]="{'background': 'url(' + rightArrowUrl + ') top left no-repeat'}" class="arrow_next" (click)="nextReview()"></a>

<div #slider class="carousel carousel-slider" *ngIf="reviews" materialize="carousel" [materializeParams]="[{fullWidth: true, noWrap: false}]" data-indicators="true" [materializeActions]="navigatorActions">
	<div *ngFor="let review of reviews; let iReview = index">
		<div #item class="carousel-item grey lighten-3" *ngIf="iReview % 2 === 0">
			<div class="row">
				<div class="col s6">
					<app-review-card [review]="reviews[iReview]"></app-review-card>
				</div>
				<div class="col s6" *ngIf="iReview + 1 < reviews.length">
					<app-review-card [review]="reviews[iReview + 1]"></app-review-card>
				</div>
			</div>
		</div>
	</div>

</div>

