.carousel {
	min-height: 900px;
	margin-top: 100px;
}



a.arrow_prev {
  display:block;
  width:70px;
  height:100px;
  background:url("http://www.de-online.ru/icon/left_arrow.png") top left no-repeat !important;
  overflow: hidden;
  position: absolute;
    text-indent: -9999px;
    margin: 450px 20px 20px -100px;
}




a.arrow_next {
  display:block;
  width:70px;
  height:100px;
  background:url("http://www.de-online.ru/icon/right_arrow.png") top left no-repeat !important;
  overflow: hidden;
  position: absolute;
    text-indent: -9999px;
    margin-left: 1300px;
    margin-top: 450px;
}
