.carousel {
	min-height: 900px;
	margin-top: 100px;
}



a.arrow_prev {
  display:block;
  width:120px;
  height:120px;
  overflow: hidden;
  position: absolute;
    text-indent: -9999px;
    margin: 450px 20px 20px -135px;
}




a.arrow_next {
  display:block;
  width:120px;
  height:120px;
  overflow: hidden;
  position: absolute;
    text-indent: -9999px;
    margin-left: 1300px;
    margin-top: 450px;
}
