<div class="carousel carousel-slider" *ngIf="reviews" materialize="carousel" [materializeParams]="[{fullWidth: true, noWrap: true}]" data-indicators="true" [materializeActions]="navigatorActions">
	<div *ngFor="let review of reviews; let iReview = index">
		<div #item class="carousel-item grey lighten-3" *ngIf="iReview % 4 === 0">
			<div class="row">
				<div class="col s6">
					<app-review-card [review]="reviews[iReview]"></app-review-card>
				</div>
				<div class="col s6" *ngIf="iReview + 1 < reviews.length">
					<app-review-card [review]="reviews[iReview + 1]"></app-review-card>
				</div>
			</div>
			<div class="row">
				<div class="col s6" *ngIf="iReview + 2 < reviews.length">
					<app-review-card [review]="reviews[iReview + 2]"></app-review-card>
				</div>
				<div class="col s6" *ngIf="iReview + 3 < reviews.length">
					<app-review-card [review]="reviews[iReview + 3]"></app-review-card>
				</div>
			</div>
		</div>
	</div>
	<div class="carousel-fixed-item center">
      <a #prev [ngClass]="{'disabled': isFirst()}" class="btn waves-effect white grey-text darken-text-2 left" (click)="previousReview()">Previous</a>
	  <a #next [ngClass]="{'disabled': isLast()}" class="btn waves-effect white grey-text darken-text-2 right" (click)="nextReview()">Next</a>
    </div>
</div>
