.carousel {
	min-height: 255px;
	margin-top: 100px;
}

.disabled {
  opacity: 0.3;
}

a.arrow_prev {
  display:block;
  width:60px;
  height:60px;
  overflow: hidden;
  position: absolute;
  margin: 185px 0 0 -60px;
}

a.arrow_next {
  display:block;
  width:60px;
  height:60px;
  overflow: hidden;
  position: absolute;
  margin: 185px 0 0 720px;
}

.row {
	margin-bottom: 0;
}